.owl-slider{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
  
 
}
.owl-slider .item {
    /* width: 20rem; */
   
  
}
.slidr-dev{
   width: 90%;
}
.owl-theme{
   width: 90%;
   margin: 0 auto;
}
.owl-slider .item img{
    width: 100%;
    height: 10rem
   
}
/* .owl-slider .item img::before{
   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 35, 35, 0.555);
    position: absolute;

} */