.light-theme{
  --text-color:#000000;
  --bg-color:#ffffff;
  
}
.dark-theme{
  --text-color:#ffffff;
  --bg-color:#000000;
 
}
h1{
  color: var(--text-color);
}
.content-bg-color{
  background-color: var(--bg-color);
}
.chackbox{
  position: absolute;
  top:20;
  right: 20;
  z-index: 10000000;
}
